<div class="container-fluid main-bg">
    <div class="row mb-2">
       
            <div class="col-md-6">
                <img src="../../../assets/svg/Frame 4.svg" alt="">
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-end align-items-center mt-2">
                    <div>
                        <img src="../../../assets/svg/Ellipse 1.svg" alt="">
                    </div>
                    <div class="p-text">
                        <p class="profile-n poppins-semibold m-2">Susan Smith</p>
                        <p class="role-text poppins-regular m-2">Company Admin</p>
                    </div>
                </div>

           
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12 mb-2">
            <div>
                <ul class="d-flex justify-content-around poppins-medium">
                    <li><a routerLink="/dashboard"> <img src="../../../assets/svg/icons/Frame.svg" alt="Dashboard" class="nav-icon"> Dashboard</a></li>
                    <li><a routerLink="/companies"><img src="../../../assets/svg/icons/Frame (1).svg" alt="Dashboard" class="nav-icon"> Companies</a></li>
                    <li><a routerLink="/stores"><img src="../../../assets/svg/icons/Frame (2).svg" alt="Dashboard" class="nav-icon"> Store Group</a></li>
                    <li><a routerLink="/stores"><img src="../../../assets/svg/icons/Frame (3).svg" alt="Dashboard" class="nav-icon"> Stores</a></li>
                    <li><a routerLink="/users"> <img src="../../../assets/svg/icons/Frame (4).svg" alt="Dashboard" class="nav-icon">Users</a></li>
                    <li><a routerLink="/vendors"><img src="../../../assets/svg/icons/Frame (5).svg" alt="Dashboard" class="nav-icon"> Vendors</a></li>
                    <li><a routerLink="/repair-maintenance"><img src="../../../assets/svg/icons/Frame (6).svg" alt="Dashboard" class="nav-icon"> Repair & Maintenance</a></li>
                    <li><a routerLink="/expense"><img src="../../../assets/svg/icons/Frame (1).svg" alt="Dashboard" class="nav-icon"> Expense</a></li>
                    <li><a routerLink="/accounts-payable"><img src="../../../assets/svg/icons/Frame (2).svg" alt="Dashboard" class="nav-icon"> Accounts Payable</a></li>
                  </ul>
            </div>
        </div>
    </div>
</div>