<div class="home-container">
    <mat-toolbar color="primary">Weather WebApp</mat-toolbar>
  
    <mat-form-field appearance="outline">
      <mat-label>Search Location</mat-label>
      <input matInput (input)="onSearch($event)" />
    </mat-form-field>
  
    <div>
      <h3>Philadelphia, PA</h3>
      <div *ngIf="currentWeather">
        <p>Temperature: {{ currentWeather.temperature }}°C</p>
        <img [src]="currentWeather.iconUrl" alt="weather icon" />
      </div>
      <h4>5-Day Forecast</h4>
      <div *ngFor="let day of fiveDayForecast">
        <p>{{ day.date }}: {{ day.temperature }}°C</p>
      </div>
    </div>
  
    <div>
      <h4>Favorites</h4>
      <div *ngFor="let favorite of favorites">
        {{ favorite.name }}
      </div>
    </div>
  </div>
  